
/* ****************google font****************** */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');


/************* Start Global Variables *********/
:root {
    --firstColor:#dee3e4 ;
    --secondColor:#20c997;
    --mainPadding:60px;
    --textColor:#4c4d4d;

}
/************* End Global Variables ***************/

/********* Start global rules *************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width:90%;
    margin-left:auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}

body {

overflow: hidden !important;
    
  
}


html {
    overflow-x: hidden !important;
}

::selection {
    background-color: var(--secondColor);
    color: white;
}
/************** end global rules ******************/


/*************** Start Component *******************/

.heading {
    color: #dee3e4;
    font-weight: 900;
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.heading::after {
    content: "";
    position: absolute;
    width: 8%;
    height: 3px;
    background-color: var(--secondColor);
    left: 50%;
    transform:translateX(-50%) ;
    -webkit-transform:translateX(-50%) ;
    -moz-transform:translateX(-50%) ;
    -ms-transform:translateX(-50%) ;
    -o-transform:translateX(-50%) ;
    bottom: 20px;
    
}

.above-heading {
    text-align: center;
    position: relative;
    top: -76px;
    color: #212529;
    font-weight: 800;
    font-size: 27px;
    margin-bottom: 20px;
} 




/******************** End Component *******************/
/* **************************************************** */




/***************** fixed-icon ********************/ 
.fixed-icon {
    position: fixed;
   
    background-color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    right: 30px;
    top: 80%;
    z-index: 8;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 1px 1px 5px rgb(97, 94, 94);
    cursor: pointer;
    opacity: 0;
    transition: .3s;
}
.fixed-icon .sroll-to-top {
    color: white;
    font-size: 20px;
}




/******************** start header ********************8*/

.header {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    background-color:  #333030;
     height: 7rem;
    padding: 3rem;
    position: relative;
    width: 100%;
    transition: all .3s;
   

}


.nav-list ul {
    display: flex;
}

.nav-list ul li .list-item {
    color: var(--firstColor);
    font-size: 18px;
    transition: .3s;
}


.header nav ul li .list-item.active,
.nav-list ul li .list-item:hover {
    color: var(--secondColor);
}

.header  nav ul li {
    padding-left: 2rem;
}

.nav-btns button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 40px;
  cursor: pointer;
  color: #fff;
 

}

.nav-btns{
    display: none;
}

.nav-btns button .btn[name="menu"],
.nav-btns button .btn[name="close"]  {
    display: none !important;

} 




/* ********** scroll navBar *********** */
 .sticky  .header{
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 21px rgb(219 218 218);
    transition: all .3s;
    z-index: 99999999999;
}
.sticky .header nav ul li .list-item {
    color: black;
}

.sticky .header nav ul li .list-item:hover {
    color: var(--secondColor);
}

.sticky .header nav ul li .list-item.active {
    color: var(--secondColor);
}

.sticky .header .logo img {
    filter: contrast(.1);
} 



/* *******************end header************************* */
/* ******************************************************* */



#home {
    background-image:url(../imgs/intro-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    z-index: 1;

}


.home-heading {
    height: 150px;
     width: 290px;
}
#home::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(14, 13, 13, .8);
    top: 0%;
    z-index: 2;

}
.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 3;
}


.home-content h2 {

    font-weight: 500;
    font-size: 30px;
}


.home-content h1 {

    font-weight: bold;
    font-size: 65px;
    margin-top: 10px;
    display: inline;
}
.home-content span {
    font-size: 50px;
    padding-left: 10px;
}
.home-content p {
    color: var(--firstColor);
    font-size: 22px;
    word-spacing: 2px;
    margin-bottom: 30px;
}

.home-content button.btn-hire {
    background-color:transparent;
    color: var(--secondColor);
    border-color: transparent;
    width: 140px;
    height: 55px;
    transition: .3s;
    border: 2px solid var(--secondColor);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    cursor: pointer;
}
.home-content button.btn-hire:hover {
    background-color: var(--secondColor);
    color: white;
}

/******************** end home section ********************************/


/******************** start about section ***********************/
/****************************************************************/

#about {
    padding-top:var(--mainPadding);
    padding-bottom: var(--mainPadding);
}
#about .container .about-content {
    display: flex;
    justify-content: space-between;
    
}
#about .container .about-content .p-content {
    width: 61%;
    line-height: 1.5;
}
#about .container .about-content .p-content h4  {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 900;
}
#about .container .about-content .p-content h4 span  {
    color: var(--secondColor);
}
#about .container .about-content .about-list {
    width: 30%;
}
#about .container .about-content .about-list li span {
    font-weight: bold;
}

#about .container .about-content .about-list li {
    padding:10px 0px 20px;
    border-bottom: 1px solid var(--firstColor);
}
#about .container .about-content .about-list ul li a{
    color:var(--secondColor) ;
}
#about .container .about-content .about-list ul li a:hover {
    color: #198754;
}


#about .about-content .about-list  button {
    background-color: var(--secondColor);
    border-color: transparent;
    transition: .3s;
    cursor: pointer;
    width: 170px;
    height: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 20px;
    color: white;
    box-shadow: 1px 1px 15px #ccc;
}
#about .about-content .about-list  button:hover {
    background-color:#198754;
}
#about .about-counter {
    display: flex;
    padding-top: 40px;
    text-align: center;
    flex-wrap: wrap;
    

}
#about .about-counter div {
    width: 25%;
    position: relative;
}
#about .about-counter div::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: -1px;
    border-left: 1px dotted #e0dede;
  

}

#about .about-counter div::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 1px dotted #e0dede;
    left: 0;
    
}
#about .about-counter div h4 {
    color: #4c4d4d;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 10px;
}
#about .about-counter div p {
    padding-bottom: 10px;
    color:#4c4d4d;
}


/* end about section */



/* start services section */
#services {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    background-color: #f8f9fa;
}

#services .container .services-content {
    display: flex;
     justify-content: space-between; 
    color: var(--textColor);
    
   
}
#services .container .services-content .content-one,
#services .container .services-content .content-two {
    width: 45%;
}
#services .container .services-content .flex-box {
    margin-bottom: 35px;
    line-height: 1.8;
    display: flex;
    
}
#services .container .services-content .flex-box  i {
    margin-right: 20px;
    font-size: 25px;
    color: var(--secondColor);
    background-color: white;
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 7px #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#services .container .services-content .flex-box h3 {
    margin-bottom: 10px;
}



/* end services section */


/* start summary section */

#summary {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
}

#summary .container .summary-content {
    display: flex;
    justify-content: space-between;
}
#summary .container .summary-content .education ,
#summary .container .summary-content .experience  {
    width: 48%;
}
.education h2 ,
.experience h2 {
    margin-bottom: 30px;
}
#summary .container .summary-content .education div,
#summary .container .summary-content .experience div {
    border: 1px solid var(--secondColor);
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .3s;
}

#summary .container .summary-content .education div:hover,
#summary .container .summary-content .experience div:hover {
    background-color: var(--secondColor);
    /* color: #fff !important; */
}
#summary .container .summary-content .education div:hover h3,
#summary .container .summary-content .experience div:hover h3,
#summary .container .summary-content .education div:hover p,
#summary .container .summary-content .experience div:hover p{
    color: #fff;
}
.education div .date,
.experience div .date{
    background-color: var(--secondColor);
    padding: 2px 9px;
    color: white;
    width: fit-content;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 15px;
}
.education div h3,
.experience div h3 {
    color: var(--textColor);
    margin-bottom: 15px;
}
.education div .colored,
.experience div .colored {
    color: #dc3545;
    margin-bottom: 25px;
}
.education div .description,
.experience div .description {
    color: var(--textColor);
}

/* for responsive */ 
@media (max-width:760px) {
    #summary .container .summary-content {
        display: flex;
        flex-direction: column;
    }
    #summary .container .summary-content .education ,
#summary .container .summary-content .experience  {
    width: 100%;
}
}

/* start bars */
.bars {
    display: flex;
     justify-content: space-between; 
     gap: 80px;
     margin-top: 60px;
     margin-bottom: 65px;
}
.first-col ,
.second-col {
    width: 50% !important;
}

.pro-content {
    width: 100%;
    
}

.pro-content .content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pro-content .content span {
    margin-bottom: 6px;
}
.progress {
    width: 100% ;
    height: 25px;
    position: relative;
    background-color: rgb(233, 232, 232);
    border-radius: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.progress span {
    position: absolute;
    transition: all .3s linear;
    width: 0;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: var(--secondColor);
}

.label {
    display: flex;
    justify-content: space-between;
}

#summary button {
    width: 190px;
    height: 50px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 40px;
    border-color: transparent;
    background-color: transparent;
    border: 2px solid var(--textColor);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: .3s;
    cursor: pointer;
}
#summary button i {
    color: var(--textColor);
    font-size: 20px;
}
#summary button:hover {
    background-color: var(--textColor);
    color: white;
}
#summary button:hover i {
    color: white;

}


/********************** end summary section *****************/


/* start portfolio section */

#portfolio {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
   
}
#portfolio .container .portfolio-list ul {
    display: flex;
    justify-content: center;
}
#portfolio .container .portfolio-list ul li {
    margin-left: 15px;
}
#portfolio .container .portfolio-list ul a {
    color: var(--textColor);
    font-size: 18px;
}
#portfolio .container .portfolio-list ul a.active {
    color: var(--secondColor) !important;
    border-bottom:  3px solid var(--secondColor);
}


#portfolio .potfolio-content .box{
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}



.image img {
    width: 100%;
    height: auto;
    
 
}
#portfolio a {
   cursor: pointer;
}
#portfolio .image {
    position: relative;
    overflow: hidden;

    
}

#portfolio .image:hover img {
    transition: all .4s !important;
    transform: scale(1.2);
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-ms-transform: scale(1.2);
-o-transform: scale(1.2); 
}




#portfolio .text-hidden {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   bottom: 0;
    background-color: rgb(30 28 28 / 80%);
    color: #fff;
    z-index: 33;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   opacity: 0;
   transition: .4s;
   cursor: pointer;
}

#portfolio .image:hover .text-hidden {
    opacity: 1;
}


/****************** end portfolio section ****************/



/************ start testimonial section *********************/
#testimonial {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
}

.splide__list .splide__slide:nth-child(even) {
   margin-left: 20px;
}

.splide__list .splide__slide:nth-child(odd) {
    margin-right: 20px;
 }
 
.splide__pagination__page {
    background: #2e2929;

}
.splide__pagination {
    bottom: -1.5em;
}

.splide__pagination__page[aria-selected="true"] {
    background-color: var(--secondColor);
}
#testimonial .container .test-content  .test-box {
    background-color: #f8f9fa;
    padding: 50px;
    color: #212529;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}

#testimonial .container .test-content .test-box .image-content {
    display: flex;
    gap: 20px;
    
}
#testimonial .container .test-content .test-box .image-content p {
    color: #6c757d;
    margin-top: 10px;
    margin-bottom: 30px;
}
#testimonial .container .test-content .test-box img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#testimonial .container .test-content .test-box p {
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.8;
}
#testimonial .container .test-content .test-box  i {
    color: #ffc107;
}

.dot {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}


.light-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: white;
    border: 1px solid var(--secondColor); 
    cursor: pointer;
    position: relative;
  
    
}
.colored-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--secondColor);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    
}

.dark-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: gray;
    cursor: pointer;
   
}

/******************* end testimonial section *********************/



/****************** start contact section **********************/
#contact {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    background-color: #f8f9fa;
}
#contact .container .contact-content {
    display: flex;
    justify-content: space-between;
  
}
#contact .container .contact-content .contact-address {
    width: 16%;
}
#contact .container .contact-content .contact-address h2 {
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--textColor);
}
#contact .container .contact-content .contact-address address {
    color: var(--textColor);
    line-height: 1.8;
    margin-bottom: 40px;
}
#contact .container .contact-content .contact-address p {
    padding-bottom: 15px;
    
}
#contact .container .contact-content .contact-address i {
    color: var(--secondColor);
    margin-right: 5px;
}
#contact .container .contact-content .contact-address .follow {
    font-size: 20px;
    color: #2e2929;
    cursor: pointer;
}

#contact .container .contact-content form {
    width: 75%;
}

.inputs {
    width: 100%;
    display: flex;
    gap: 40px;
}
#contact .container .contact-content form  h2 {
    margin-bottom: 20px;
    color: var(--textColor);
}
#contact .container .contact-content form input {
    width: 50%;
    padding: 10px;
   
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    border-color: transparent;
    border: 1px solid #ccc;
}
#contact .container .contact-content form  textarea {
    margin-top: 20px;
    width: 100%;
    height: 250px;
  
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-color: transparent;
    border: 1px solid #ccc;
    margin-bottom: 40px;
}
#contact .container .contact-content form  button {
    width: 180px;
    height: 45px;
    border-radius: 25px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    background-color: var(--secondColor);
    color: white;
    border-color: transparent;
    display: block;
    margin:auto;
    box-shadow: 1px 1px 8px #ccc;
    cursor: pointer;
}


/****************** end contact section **************************/


/* start footer */
footer .container {
    display: flex;
    justify-content: space-between;
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    color: var(--textColor);
}
footer .container span {
    color: var(--secondColor);
}
footer .container a {
    color: var(--textColor);
    padding-left: 20px;
  
}
footer .container a:hover {
    color: var(--secondColor);
}
footer .container a.line {
    position: relative;
}
footer .container a.line::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--textColor);
    right: -10px;
}


/**************** end footer *******************/
/* ******************************************** */



